@using Microsoft.AspNetCore.Http
@using UniSA_Radiation_Therapy_Mock_Clinic_Scheduler.Firebase;
@{
    FirebaseSharedFunctions firebase;
    firebase = new FirebaseSharedFunctions(Context);

    //Only call once here instead of multiple times throughout the layout
    bool loggedIn = firebase.VerifyLoggedInSession(Context).Result;
    bool coordinator = firebase.VerifyLoggedInCoordinator(Context).Result;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - Radiation Therapy Scheduler</title>
    <link rel="shortcut icon" href="https://lo.unisa.edu.au/theme/image.php/unisa/theme/1658874300/favicon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://lo.unisa.edu.au/theme/styles.php/unisa/1658874300_1658874377/all" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/UniSA_Radiation_Therapy_Mock_Clinic_Scheduler.styles.css"
          asp-append-version="true" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://kit.fontawesome.com/5f4f200a02.js" crossorigin="anonymous"></script>
</head>

<body class="format-flexsections hasnavbar drawer-collapse" id="body">
    <!-- Navigation -->
    <header role="banner" class="navbar navbar-static-top">
        <div class="top-nav-container navbar">
            <div class="navbar-nav justify-content-between">
                <div class="fixed-row no-gutters d-flex">
                    <div id="drawer-toggle" data-region="drawer-toggle" class="">
                        <button onclick="OpenCloseNav()" type="button" id="closedrawer"class="btn nav-link d-flex justify-content-center align-items-center flex-column text-light">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Side panel</span>
                        </button>
                    </div>

                    <a asp-controller="Home" asp-action="Index" class="navbar-brand has-logo flex-shrink-0">
                        <span class="unisalogo">
                            <img src="https://lo.unisa.edu.au/theme/image.php/unisa/theme_unisa/1658874300/logo_unisa_learnonline">
                        </span>
                    </a>
                    <div class="flex-shrink-1">
                        <div id="page-heading" class="d-table-cell">
                            <div class="nav-title">
                                <h1 class="course-heading m-r-1">Radiation Therapy Scheduler</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Sidebar -->
    <div id="nav-drawer" class="d-flex flex-row drawer-collapse" onmouseover="CloseNavHover()" onmouseout="OpenNavHover()">
            <nav id="nav-drawer-menu-list" class="side-navigation overflow-none" style="top: 105px">
                <div class="overflow-auto h-100">
                    <ul class="list-group">
                        @{
                            //The user is currently logged in
                            if (loggedIn)
                            {
                                    <li class="nav-item @((string?) ViewData["Controller"] == "Home" ? "active" : "")">
                                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                                            <i class="icon fa fal fa-graduation-cap fa-fw"></i>
                                            <span>Student</span>
                                        </a>
                                    </li>
                            }

                            if (coordinator)
                            {
                                    <li class="nav-item @((string?) ViewData["Controller"] == "Coordinator" ? "active" : "")">
                                        <a class="nav-link" asp-controller="Coordinator" asp-action="Index">
                                            <i class="icon fa fal fa-chalkboard fa-fw"></i>
                                            <span>Coordinator</span>
                                        </a>
                                    </li>
                            }
                        }

                        <li class="nav-item @((string?) ViewData["Controller"] == "Account" ? "active" : "")">
                            <a class="nav-link" asp-controller="Account" asp-action="Index">
                            <i class="icon fa fal fa-user fa-fw"></i>
                            <span>Account</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div id="nav-drawer-menu" class="flex-fill drawer-region collapse show">
                <nav class="collapse multi-collapse nav-drawer show">
                @{
                    if ((string?) ViewData["Controller"] == "Home")
                    {
                        //The user is currently logged in
                        if (loggedIn)
                        {
                            if (coordinator)
                            {
                                //List of clinics students are currently scheduled in
                                <div class="list-group-item @((string?) ViewData["Title"] == "Clinic Day" ? "active" : "")">
                                    <div class="list-group-item-inner-container">
                                        <a class="list-group-item-action list-indent-1" asp-controller="Home" asp-action="ClinicDay">
                                            <span class="nav-item-text">Clinic Day</span>
                                        </a>
                                    </div>

                                </div>
                            }

                            //List of clinics students are currently scheduled in
                            <div class="list-group-item @((string?) ViewData["Title"] == "Clinics" ? "active" : "")">
                                <div class="list-group-item-inner-container">
                                    <a class="list-group-item-action list-indent-1" asp-controller="Home" asp-action="Clinics">
                                        <span class="nav-item-text">@(coordinator ? "Upcoming Clinics" : "Appointments")</span>
                                    </a>
                                </div>
                            </div>

                            //List of historically scheduled clinics for students
                            <div class="list-group-item @((string?) ViewData["Title"] == "Past Clinics" ? "active" : "")">
                                <div class="list-group-item-inner-container">
                                    <a class="list-group-item-action list-indent-1" asp-controller="Home" asp-action="History">
                                        <span class="nav-item-text">@(coordinator ? "Past Clinics" : "Past Appointments")</span>
                                    </a>
                                </div>
                            </div>
                        }
                    }

                    //We are on the course coordinator section
                    if ((string?) ViewData["Controller"] == "Coordinator")
                    {
                        //The user is a course coordinator
                        if (coordinator)
                        {
                            //Course coordinator can create classes here
                                <div class="list-group-item @((string?) ViewData["Title"] == "Create Class" ? "active" : "")">
                                    <div class="list-group-item-inner-container">
                                        <a class="list-group-item-action list-indent-1" asp-controller="Coordinator" asp-action="CreateClass">
                                            <span class="nav-item-text">Create Class</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="list-group-item @((string?) ViewData["Title"] == "Classes" && (string?) ViewData["Controller"] == "Coordinator" ? "active" : "")">
                                    <div class="list-group-item-inner-container">
                                        <a class="list-group-item-action list-indent-1" asp-controller="Coordinator" asp-action="Classes">
                                            <span class="nav-item-text">View Classes</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="list-group-item @((string?) ViewData["Title"] == "Create Clinic" ? "active" : "")">
                                    <div class="list-group-item-inner-container">
                                        <a class="list-group-item-action list-indent-1" asp-controller="Coordinator" asp-action="CreateClinic">
                                            <span class="nav-item-text">Create Clinic</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="list-group-item @((string?) ViewData["Title"] == "Clinics" && (string?) ViewData["Controller"] == "Coordinator" ? "active" : "")">
                                    <div class="list-group-item-inner-container">
                                        <a class="list-group-item-action list-indent-1" asp-controller="Coordinator" asp-action="Clinics">
                                            <span class="nav-item-text">View Clinics</span>
                                        </a>
                                    </div>
                                </div>
                        }
                    }

                    //We are on the accounts section
                    if ((string?) ViewData["Controller"] == "Account")
                    {
                        //The user is currently logged in
                        if (loggedIn)
                        {
                            //Account home page, view account details, etc...
                            <div class="list-group-item @((string?) ViewData["Title"] == "Account" ? "active" : "")">
                                <div class="list-group-item-inner-container">
                                    <a class="list-group-item-action list-indent-1" asp-controller="Account" asp-action="Index">
                                        <span class="nav-item-text">General</span>
                                    </a>
                                </div>
                            </div>

                            //Logout of account page
                            <div class="list-group-item @((string?) ViewData["Title"] == "Logout" ? "active" : "")">
                                <div class="list-group-item-inner-container">
                                    <a class="list-group-item-action list-indent-1" asp-controller="Account" asp-action="Logout">
                                        <span class="nav-item-text">Logout</span>
                                    </a>
                                </div>
                            </div>
                        }

                        //The user is not logged in
                        else
                        {
                            //Login to account page
                            <div class="list-group-item @((string?) ViewData["Title"] == "Login" ? "active" : "")">
                                <div class="list-group-item-inner-container">
                                    <a class="list-group-item-action list-indent-1" asp-controller="Account" asp-action="Login">
                                        <span class="nav-item-text">Login</span>
                                    </a>
                                </div>
                            </div>

                            //Create a new account page
                            <div class="list-group-item @((string?) ViewData["Title"] == "Register" ? "active" : "")">
                                <div class="list-group-item-inner-container">
                                    <a class="list-group-item-action list-indent-1" asp-controller="Account" asp-action="Register">
                                        <span class="nav-item-text">Register</span>
                                    </a>
                                </div>
                            </div>
                        }

                        //Always be able to see the privacy policy
                        <div class="list-group-item @((string?) ViewData["Title"] == "Privacy Policy" ? "active" : "")">
                            <div class="list-group-item-inner-container">
                                <a class="list-group-item-action list-indent-1" asp-controller="Account" asp-action="PrivacyPolicy">
                                    <span class="nav-item-text">Privacy Policy</span>
                                </a>
                            </div>
                        </div>
                    }
                }
                </nav>
            </div>
        </div>

        <!-- Content -->
        <div id="page" class="d-print-block" style="padding-top:0px">
            <div id="page-content" class="d-print-block row no-gutters">
                <div class="col">
                    <div class="row no-gutters my-lg-0 m-x-0">
                        <div class="col-sm-12">
                            @RenderBody()
                            <!--<div id="region-main" aria-label="Content">

                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous"></script>
        @await RenderSectionAsync("Scripts", required: false)

</body>

</html>