@model UniSA_Radiation_Therapy_Mock_Clinic_Scheduler.Models.AppointmentModel
@{
    ViewData["Title"] = "Clinics";
    ViewData["Controller"] = "Coordinator";
    List<AppointmentModel> appointments = ViewBag.Appointments;
}

<div class="col">
    <div role="main" class="pb-lg-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2>Upcoming Clinics</h2>
                </div>
           
                @if(appointments != null)
                {
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date and Time</th>
                                <th scope="col">Patient</th>
                                <th scope="col">Radiation Therapist 1</th>
                                <th scope="col">Radiation Therapist 2</th>
                                <th scope="col">Room</th>
                                <th scope="col">Site</th>
                            </tr>
                        </thead>
                        <tbody>

                        
                        @foreach(var appointment in appointments)
                        {
                            <tr>
                                <td scope="col"> @appointment.Date  @appointment.Time</td>
                                <td>@appointment.Patient</td>
                                <td>@appointment.RadiationTherapist1</td>
                                <td>@appointment.RadiationTherapist2</td>
                                <td>@appointment.Room</td>
                                <td>@appointment.Site</td>
                                <td><a href="/Coordinator/EditAppointment?id=@appointment.AppointmentID">Edit Appointment</a></td>
                            </tr>                           
                        }
                        </tbody>
                    </table>

                }
            </div>
        </div>
    </div>
</div>
