@{
    ViewData["Title"] = "Treatment";
    ViewData["Controller"] = "Home";
    AppointmentModel appointment = ViewBag.Appointment;

    var tempInfect = appointment.Infectious.Split(':');
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/classes/AJAXManager.js"></script>
<script src="~/js/treatment.js"></script>
<script src="~/js/image-matching.js"></script>

<link rel="stylesheet" type="text/css" href="/css/clinics.css">
<link rel="stylesheet" type="text/css" href="/css/image-matching.css">

<div class="container">
	<main role="main" class="pb-3">
        <h1>Treatment Page</h1>

		@*Back to ClinicDay button - only visible when conducting a clinic*@
		<button id="completeTreatment" class="hidden btn button">Complete Treatment</button>

		<div class="col-sm-12" style="min-width: 200px;">
			<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Location</th>
						<th>Patient</th>
                        <th>Infectious</th>
						<th>Radiation Therapists</th>
						<th>Site</th>
						<th>Treatment Document</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>
							<h6 class="mb-0">@appointment.Time</h6>
							<small>@appointment.Date</small>
						</td>

						<td>
							<h6 class="mb-0">@appointment.Room</h6>
                            <p class="hidden" id="appointmentID">@appointment.AppointmentID</p>
						</td>

						<td>
							<h6 class="mb-0">@appointment.Patient</h6>
						</td>

                        <td>
							<h6 id="infectionStatus" class="mb-0 infectionColumn" data-value="@tempInfect[1]">@tempInfect[0]</h6>
						</td>

						<td>
							<p class="mb-0">@appointment.RadiationTherapist1</p>
							<p class="mb-0">@appointment.RadiationTherapist2</p>
						</td>

						<td>
							<h6 class="mb-0">@appointment.Site</h6>
						</td>

						<td>
                            @*Load in the PDF of allow the upload of one*@
							<div class="hidden" id="documentButtons">
                                <a id="downloadLink" target="_blank" href="#" download="Treatment" class="btn button-navigation">Download</a>
                                <button id="deleteDocument" class="btn button-navigation">Delete</button>
                            </div>

							<div id="noDocument">
                                <p class="card-text">
                                    <input class="form-control input-upload" id="fileUpload" type=file accept="application/pdf" name="file">
                                </p>
                            </div>
						</td>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-primary hidden" id="hide-pdf">Hide PDF</button><br />
			<div class="hidden" id="treatmentDocument">
				<iframe class="pdfPreview" id="treatmentPDF"></iframe>
			</div>
			<button class="btn btn-primary" id="hide-matching">Hide Image Matching</button><br />
			<div class="matching-container" id="matching-container">
				<div style="background-image: url('/assets/xray/@appointment.Site.ToLower()-front.jpg')" class="image-matching" id="image-matcher">
					<img src="/assets/xray/@appointment.Site.ToLower()-front.jpg" id="draggable-image" class="draggable" />
				</div>
			</div>
			<button class="btn btn-primary" id="hide-machine">Hide Machine Controls</button>
			<div class="machine-controls-container">
				<img src="~/assets/machine-controls.png" usemap="#machine-map" />

				<map name="machine-map">
					<area shape="rect" coords="673, 345, 742, 387" style="cursor: pointer;" id="start-button-area"/>
					<area shape="rect" coords="552, 347, 623, 390" style="cursor: pointer;" id="stop-button-area" />
				</map>
			</div>
			
		</div>
	</main>

	<!-- The Modal -->
    <div id="infectionModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content infectious">
            <div>
                <h2 style="float:left;">WARNING</h2>
                <span id="closeButton" class="close">&times;</span>
            </div>
            <br />
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="modalInfectionTitle">Infection</label>
                        <input disabled type="text" class="form-control input" id="modalInfectionTitle" placeholder="COVID-19.." required>
                    </div>
                </div>      
                <div class="form-row mb-3">
                    <label for="modalinfectionDetails">Infection Details</label>
                    <textarea disabled class="form-control" id="modalinfectionDetails" rows="3" placeholder="Infection Details.."></textarea>
                </div> 
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if($("#infectionStatus").innerHTML != "False") {
            openModal();
        }

	    //setup on click listeners for the infection modal
        $(".infectionColumn").on('click', function(e){
            event.stopPropagation();
            event.stopImmediatePropagation();

		    if (e.target.innerHTML == "False") {
                return
            }

            openModal();
        });	

        function openModal() {
		    //Load the current values
            $("#modalInfectionTitle").val($("#infectionStatus")[0].innerHTML)
            $("#modalinfectionDetails").val($("#infectionStatus").data('value'));

            let modal = $("#infectionModal");
            let close = $("#closeButton");
            close.on('click', function () {
                modal.css("display", "none");
            });

            modal.css("display", "block");
        }
    });
</script>
